*{
box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #9fb6bb;
}
.todo {
  width: 400px;
  height: 30px;
}
.todo-hint {
  margin-top: 20px;
  padding: 20px;
  width: 400px;
  border: 2px solid black;
}

